@model DataLayer.Pedidos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedidos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_recibe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_recibe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacion_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacion_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_productos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_productos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.plu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.plu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pedido }) |
    @Html.ActionLink("Back to List", "Index")
</p>
